<div class="chat-message" *ngFor="let message of messages" [class.from-me]="message.user_id == user.uid">
  <div class="chat-image">
    <div class="img">
      <img *ngIf="message.image" [src]="message.image" alt="">
    </div>
  </div>
  <div class="chat-text">
    <div class="nickname">
      {{getNickname(message)}}
    </div>
    <div class="message-text">
      {{message.text}}
    </div>
    <div class="message-date">
      {{message.date | date:'dd/MM/yyyy HH:mm'}}
    </div>
  </div>
</div>
